<!-- ↓ログインユーザーinfo -->
<div class="col-xs-3">
	<h2>User info</h2>
	<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %>
	<table class="table">
		<tbody>
			<tr></tr>
			<tr>
				<th>name</th>
				<th><%= user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= user.introduction %></th>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<% if user.id == current_user.id %>
			<%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<% else %>
			<%= link_to "", user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench" %>
		<% end %>
	</div>
<!-- ↑プロフィール編集ボタン -->

<!-- ↓新規投稿フォーム -->
	<h2>New book</h2>
	<%= form_for(book) do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title, class: "col-xs-12" %>

	<h4>Body</h4>
	<%= f.text_area :body, class: "col-xs-12" %>

	<%= f.submit 'Create Book', class: "btn btn-primary btn-block" %>
	<% end %>

<!-- ↓エラー -->
	<% if book.errors.any? %>
		<h3><%= book.errors.count %>errorです。</h3>
   		<ul>
			<% book.errors.full_messages.each do |message| %>
			<li><%= message %></li>
			<% end %>
		</ul>
	<% end %>
</div>